.container{ 
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.filterWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
  &_right { 
    display: flex; 
    align-items: center;
    column-gap: 20px;
  }
  @media (max-width: 1160px) {
    overflow-x: scroll;
  }
}