.item {
  display: flex;
  justify-content: start;
  list-style: none;
  width: calc(50% - 12px);
  height: auto;
  aspect-ratio: 2 / 1;
  position: relative;

  &_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

    @media (min-width: 422px) {
      border-radius: 12px;
    }

    @media (min-width: 768px) {
      border-radius: 14px;
    }

    @media (min-width: 1024px) {
      border-radius: 16px;
    }
  }
  &_left {
    left: 0;
    width: 36px;
    height: 220px;
    position: absolute;
    &_step {
      position: absolute;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 12px;
      height: 12px;
      font-size: 8px;
      color: #303030;
      background: none;
      border: 1px solid #c80f0f;
      border-radius: 50%;

      @media (min-width: 422px) {
        width: 16px;
        height: 16px;
        font-size: 10px;
      }

      @media (min-width: 768px) {
        width: 24px;
        height: 24px;
        font-size: 12px;
      }

      @media (min-width: 1024px) {
        width: 36px;
        height: 36px;
        font-size: 16px;
      }
    }
    &::before {
      content: "";
      position: absolute;
      z-index: 0;
      top: 6%;
      left: 20%;
      width: 1px;
      height: 15%;
      background: linear-gradient(180deg, #c80f0f 0%, #fcfcfc 100%);
      transform: translateX(-50%);

      @media (min-width: 422px) {
        top: 8%;
        left: 25%;
        width: 1px;
        height: 30%;
      }

      @media (min-width: 768px) {
        top: 11.5%;
        left: 36%;
        width: 1px;
        height: 50%;
      }

      @media (min-width: 1024px) {
        top: 17%;
        left: 53%;
        width: 1px;
        height: 70%;
      }
    }
  }
  &_right {
    &_title {
      font-weight: 500;
      font-size: 8px;
      line-height: 9px;
      color: #000;

      @media (min-width: 422px) {
        font-size: 16px;
        line-height: 16px;
      }

      @media (min-width: 768px) {
        font-size: 20px;
        line-height: 20px;
      }

      @media (min-width: 1024px) {
        font-size: 22px;
        line-height: 26px;
      }
    }
    &_text {
      padding-top: 2px;
      font-weight: 400;
      font-size: 7px;
      line-height: 9px;
      color: #000;

      @media (min-width: 422px) {
        padding-top: 4px;
        font-size: 10px;
        line-height: 14px;
      }

      @media (min-width: 768px) {
        padding-top: 6px;
        font-size: 12px;
        line-height: 18px;
      }

      @media (min-width: 1024px) {
        padding-top: 8px;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  &__texts {
    width: 100%;
    display: flex;
    column-gap: 16px;
    padding-left: 18px;

    @media (min-width: 422px) {
      padding-left: 22px;
    }

    @media (min-width: 768px) {
      padding-left: 36px;
    }

    @media (min-width: 1024px) {
      padding-left: 48px;
    }
  }
}
