.layout {
  margin-left: 92px;
  width: calc(100% - 92px);
  overflow: hidden;
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;

  &__opened { 
    margin-left: 256px;
    width: calc(100% - 256px);
  }
}