.item {
  list-style: none;
  white-space: nowrap;
  &_button {
    cursor: pointer;
    padding: 4px 14px;
    border-radius: 4px;
    border: 1px solid #303030;
    background: #fff;
    &__active {
      border: 1px solid #c80f0f;
    }
  }
}
