.card {
  padding: 16px;
  width: 250px;
  border-radius: 16px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
  &__active {
    transition-duration: 0.4s;
    outline: 1px solid #c80f0f;
  }
  &_title {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &_content {
    margin-top: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_list {
      list-style: none;
      display: flex;
      row-gap: 16px;
      flex-direction: column;
    }
    &_img {
      width: 140px;
      height: 112px;
      border-radius: 16px;
    }
  }
}
