.body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  &_users {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    max-height: 80px;
    overflow-y: scroll;
    border: 1px solid #c80f0f;
    border-radius: 16px;
    &_item {
      list-style: none;
      &_button {
        cursor: pointer;
        border: 1px solid #f66;
        border-radius: 100px;
        padding: 4px 8px;
        box-shadow: 0 4px 8px 0 rgba(252, 13, 28, 0.15);
        background: #c80f0f;

        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        color: #fff;
      }
    }
  }
  &_label {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    &_text {
      font-weight: 400;
      font-size: 14px;
      line-height: 171%;
      color: #000;
    }
    &_input {
      height: 32px;
      border: 1px solid #efefef;
      border-radius: 4px;
      padding: 4px 8px;
      &:focus {
        outline: none;
      }
    }
    &_textarea {
      resize: none;
      height: 99px;
      border: 1px solid #efefef;
      border-radius: 4px;
      padding: 4px 8px;
      &:focus {
        outline: none;
      }
    }
  }
  &_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_button {
      cursor: pointer;
      border: 1px solid #f66;
      border-radius: 100px;
      padding: 12px 32px;
      width: 128px;
      box-shadow: 0 4px 8px 0 rgba(252, 13, 28, 0.15);
      background: #c80f0f;
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      color: #fff;
    }
    &_trash {
      cursor: pointer;
      border: none;
      background: none;
    }
  }
}
