@import "../../../../utils/mixins.scss";

.form {
  padding: 16px;
  display: flex;
  flex-direction: column;
  column-gap: 16px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);

  max-height: 30vh;
  width: 55vw;
  overflow-y: auto;

  @include tablet {
    max-height: 40vh;
  }
  @include tablet-lg {
    max-height: 60vh;
  }
  @include desktop {
    max-height: 90vh;
  }
  @include desktop-lg {
    max-height: 100vh;
  }

  &_column {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    &_button {
      margin-top: 24px;
      padding: 3px 7.5px;
      cursor: pointer;
      align-self: start;
      background: none;
      border: 1px solid #c80f0f;
      border-radius: 100px;
      font-size: 12px;
      font-weight: 500;
      color: #c80f0f;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
    column-gap: 32px;

    &_column {
      width: 50%;
    }
  }

  @media (min-width: 1024px) {
    overflow-y: visible;
    max-height: unset;

    &_column {
      width: 438px;
    }
  }

  &_column_checkbox {
    display: flex;
    column-gap: 18px;
    align-items: center;
    margin-bottom: 10px;
    &_input {
      position: relative;
      appearance: none;
      width: 16px;
      height: 16px;
      border: 1px solid #c80f0f;
      cursor: pointer;
      border-radius: 4px;
      transition: background 0.3s ease, transform 0.3s ease;

      &:checked {
        background: #c80f0f;
        transform: scale(1.1);

        &::after {
          content: "";
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
          width: 4px;
          height: 8px;
          border: solid white;
          border-width: 0 2px 2px 0;
          opacity: 1;
        }
      }
    }

    &_text {
      font-size: 14px;
      color: #303030;
    }
  }
}
