.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh !important;
  background: url("/img/background/settings.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 100px;
  width: 320px;
  background: #fff;
  border-radius: 16px;
}
