.material {
  width: 100%;
  &_title {
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    color: #000;
  }
  &_list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  
  }
}
