.param {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_name {
    flex:1;
    width: 107px;
    color: #606060;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
   
  }
  &_value {
    flex: 1;
    color: #101010;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  
}
