@import '../../../utils/mixins.scss';

.layout {
  padding-top: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 134px);

  @include tablet {
      padding-top: 32px;
  }
}
