.container {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  &_title {
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: #000;

  }
  &_text {
    font-weight: 400;
    font-size: 12px;
    color: #606060;
  }
  &_color{ 
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
}
