.btn {
  cursor: pointer;
  padding: 11px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  background: none;
  border-radius: 6px;
  border: 1px solid #efefef;
  font-weight: 500;
  font-size: 14px;
  color:#1D1B16;
}
