.item {
  overflow: hidden;
  position: relative;
  list-style: none;
  width: 900px;
  min-height: 90px;
  &_header {
    position: relative;
    z-index: 2;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
    background: #FFF;
    border-radius: 8px;
    border-left: 5px solid #c80f0f;
    box-shadow: none;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
    &_center {
      width: 805px;
      display: flex;
      flex-direction: column;
      row-gap: 12px;

      &_title {
        color: #141414;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
      }

      &_description {
        color: #292929;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }

    &_close {
      cursor: pointer;
      border: none;
      background: none;
    }
  }

  &_content {
    margin-top: 8px;
    position: absolute;
    width: calc(100% - 32px);
    left: 0;
    top: -140px;
    padding: 16px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55),
      opacity 0.5s ease;
    transform: translateY(0);
    opacity: 0;

    &_top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #efefef;

      &_item {
        padding: 3px 0;
        width: 50%;
        flex: 1;

        &_title {
          text-transform: capitalize;
          color: #000;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }

        &_text {
          color: #606060;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }

    &_message {
      margin-top: 16px;
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    &__open {
      transition-duration: 0.4s;
      z-index: 1;
      opacity: 1;
      transform: translateY(200%)
    }
  }

  &__open {

    transition: margin-bottom 0.5s ease;
    overflow: visible;
    margin-bottom: 140px;
  }
}
