@import '../../../utils/mixins.scss';

.container {
  position: relative;
  margin-top: -20%;
  left: 0%;

  @include mobile {
    max-width: 35vw;
    max-height: 35vw;
  }

  @include tablet {
    max-width: 35vw;
    max-height: 35vw;
  }

  @include tablet-lg {
    max-width: 35vw;
    max-height: 35vw;
  }

  @include desktop {
    max-width: 35vw;
    max-height: 35vw;
  }

  &_img {
    width: 100%;
    height: 30vw;
  }

  svg {
    position: absolute;
    top: 0%;
    left: 0;
  }
}