.label {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  &_text {
    color: #303030;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &_textarea {
    padding: 4px 8px;
    resize: none;
    width: 270px;
    height: 91px;
    border-radius: 4px;
    border: 1px solid #efefef;
    color: #606060;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    &::placeholder {
      color: #606060;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &:focus {
      outline: none;
    }
  }
}
