.banner {
  position: relative;
  padding: 189px 0 48px 0;
  width: 100%;
  background: url("/img/background/bg.jpeg");
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover; 
  background-attachment: fixed; 
  
  &_wrapper {
    margin: 0 auto;
    padding-inline: 16px;

    @media (min-width: 768px) {
      padding-inline: 32px;
    }
  }

  &_title {
    max-width: 600px;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #ffffff;

    @media (min-width: 422px) {
      font-size: 54px;
      line-height: 72px;
    }

    @media (min-width: 768px) {
      font-size: 68px;
      line-height: 86px;
    }
  }
  &_text {
    max-width: 335px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
  }
}
